**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.coverage*
.github
.hadolint.yaml
.pre-commit-config.yaml
.shellcheckrc
.venv
.yamllint.yml
CONTRIBUTING.md
data
docker-compose.yml
docs
htmlcov
install
node_modules
scripts
src/birdnet_pi.egg-info/
tests
*.log
.DS_Store
Thumbs.db
.env*
*.swp
*.swo
.pytest_cache
.mypy_cache
.ruff_cache
**/*.orig
.idea
.vscode
*.bak
.gitattributes
dump.rdb
*.rdb
