**/__pycache__/
.coverage*
.github
.hadolint.yaml
.pre-commit-config.yaml
.shellcheckrc
.venv
.yamllint.yml
CONTRIBUTING.md
data
docker-compose.yml
docs
htmlcov
install
node_modules
scripts
src/birdnet_pi.egg-info/
tests
