{% extends "base.html.j2" %}
{% set page_name = 'API Documentation' %}

{% block navigation %}
    {% set active_page = 'api' %}
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.url_for('static', path='css/api_docs.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Swagger UI Bundle -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5/swagger-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5/swagger-ui-bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@5/swagger-ui-standalone-preset.js"></script>

    <!-- API Docs initialization -->
    <script src="{{ request.url_for('static', path='js/api_docs.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="swagger-ui" data-openapi-url="{{ openapi_url }}"></div>
{% endblock %}
