<!doctype html>
<html>
  <head>
    <title>{{ site_name }}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="banner">
      <div class="logo">
        <a href="https://github.com/mcguirepr89/BirdNET-Pi.git" target="_blank"
          ><img src="/static/images/bird.png"
        /></a>
      </div>
      <h1>
        <a href="/"><img class="topimage" src="/static/images/bnp.png" /></a>
      </h1>
    </div>
    <div class="centered"><h3>{{ site_name }}</h3></div>

    <h2>WebSocket Messages:</h2>
    <div id="messages"></div>

    <script>
      var ws = new WebSocket("{{ websocket_url }}");
      ws.onmessage = function (event) {
        var messages = document.getElementById("messages");
        var message = document.createElement("div");
        var content = document.createTextNode(event.data);
        message.appendChild(content);
        messages.appendChild(message);
      };
    </script>
  </body>
</html>
